*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(191 183 183 / 80%);
}

.container{
    /* border: 1px dashed black; */
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    max-height: 100vh;
}

.contain{ 
    background-color: gray;
    margin-bottom: 7px;
    flex-direction: column;
}

.logo{
    height: 7vh;
    display: flex;
    justify-content: center;
}

.navigation{
    text-align: center;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.header{
    height: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

.area{
    display: flex;
    justify-content: space-between;
    height: 50vh;
}

.sidebar{
    width: 27vw;
    text-align: center;
    display: flex;
    justify-content: center;
}

.bodyarea{
    width: 67vw;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer{
    text-align: center;
    height: 10vh;
    display: flex;
    justify-content: center;
}